body{
  background-color: 	#edf1de;
  font-family: 'Source Sans Pro', sans-serif;

}

.ch{
  -webkit-box-shadow: 9px 30px 45px 17px rgba(194,232,200,1);
  -moz-box-shadow: 9px 30px 45px 17px rgba(194,232,200,1);
  box-shadow: 9px 30px 45px 17px rgba(194,232,200,1);
  background-color:#73c591;

}
.wrapper{
  color:rgba(8, 69, 252, 0.7);
  margin:auto;
  width:40%;
  height:30px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
}
.card{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  margin:0 auto;
  width:42%;
  height:400px;
  margin-top:50px;
}
h3{
  font-family: 'Source Sans Pro', sans-serif;
  color:rgb(205, 82, 37);

}
.card1{
  height:200px;
  width: 33%;
  float: left;
  text-align: right;
  margin-top: 50px;

}
#card2{
  width:62%;
  float: right;
  text-align: left;
}
.rows{
  margin-top: 20px;
  text-align:center;

}
input{
  margin-top: 12px;
  width:50%;
  height:27px;
  font-size: 12px;
  padding-left: 10px;
}
#btn_div{
  height:100px;
  width:200px;
}
input[type=submit],input[type=reset]
{
  width:100px;
  height:25px;
  border-radius: 3px;
  margin-top:40px;
  margin-right:20px;
}
input:focus {

  border:2px solid rgb(211, 245, 2);
}
font-family: 'PT Sans', sans-serif;

}
