body{
  font-family: 'Lato', sans-serif;
    background-color: 	#edf1de;
}
.ch{
  border:1px solid red;
}
#maincard{
    margin-top:5em;
}
#cardhead{
  height:6em;
  background-image:url("headImage.jpg");

}
#label{
  text-align: left;
}
#label h5{
  margin-top:1em;
}
.md-form > input{
  color:;
  background-color: red;
}
#label_player{
  margin-top:2em;
}
#label_player h5{
  margin-top:1em;
}
.form-check{
  margin-top:1em
}
